.about-us {
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  padding: 0 30px;
  display: grid;
}

@media (width >= 744px) {
  .about-us {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .about-us {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

@media (width >= 744px) {
  .about-us__textwrapper {
    width: 48%;
  }
}

.about-us__img {
  display: none;
}

@media (width >= 744px) {
  .about-us__img {
    width: 48%;
    display: block;
  }
}

.about-us__card {
  text-align: left;
  flex-direction: column;
  grid-column: 1 / 5;
  justify-content: center;
  display: flex;
}

@media (width >= 744px) {
  .about-us__card {
    flex-direction: row;
    grid-column: 1 / 9;
    gap: 20px;
  }
}

@media (width >= 1256px) {
  .about-us__card {
    flex-direction: row;
    grid-column: 1 / 13;
    gap: 30px;
  }
}

.about-us__card-title {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 1256px) {
  .about-us__card-title {
    font-size: 56px;
    line-height: 70px;
  }
}

.about-us__card-mobile-img {
  width: 100%;
  height: 210px;
}

@media (width >= 744px) {
  .about-us__card-mobile-img {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
  }
}

.about-us__card-info {
  color: #7c7c7c;
  margin: 20px 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 1256px) {
  .about-us__card-info {
    font-size: 16px;
    line-height: 24px;
  }
}

.about-us__card-link {
  text-transform: uppercase;
  color: #0db2b3;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
}

.benefits {
  box-sizing: border-box;
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  padding: 110px 30px 0;
  display: grid;
}

@media (width >= 744px) {
  .benefits {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .benefits {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

@media (width >= 744px) {
  .benefits {
    padding: 64px 144px 0;
  }
}

.benefits__card {
  grid-column: 1 / 5;
  display: none;
}

@media (width >= 744px) {
  .benefits__card {
    text-align: center;
    flex-direction: column;
    grid-column: span 4;
    align-items: center;
    width: 340px;
    display: flex;
  }
}

@media (width >= 1256px) {
  .benefits__card {
    grid-column: span 3;
    width: 276px;
  }
}

.benefits__card--mobile {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.benefits__card-title {
  text-transform: uppercase;
  color: #333;
  margin: 40px 30px 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.benefits__card-info {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

@media (width >= 744px) {
  .features {
    grid-template-columns: repeat(8, 70px);
    justify-content: center;
    gap: 34px;
    display: grid;
  }
}

@media (width >= 1256px) {
  .features {
    grid-template-columns: repeat(12, 72px);
    justify-content: center;
    gap: 30px;
    display: grid;
  }
}

.features__title {
  text-transform: uppercase;
  color: #333;
  margin: 0 30px 32px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 744px) {
  .features__title {
    margin: 0;
  }
}

@media (width >= 1256px) {
  .features__title {
    font-size: 56px;
    line-height: 70px;
  }
}

.features__container {
  background-color: #d6ecec;
  min-height: 80%;
}

@media (width >= 744px) {
  .features__container {
    grid-column: 1 / 9;
    padding: 60px 0 0 102px;
  }
}

@media (width >= 1256px) {
  .features__container {
    flex-flow: wrap;
    grid-column: 1 / 13;
    margin-top: 30px;
    padding: 60px 0 0 90px;
    display: flex;
  }
}

.features__block {
  box-sizing: border-box;
  flex-direction: column;
  margin: 30px 30px 0;
  display: flex;
}

@media (width >= 1256px) {
  .features__block {
    width: 378px;
    margin: 0 130px 56px 0;
  }
}

.features__block-title {
  text-transform: uppercase;
  color: #0c797a;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@media (width >= 1256px) {
  .features__block-title {
    font-size: 34px;
    line-height: 42px;
  }
}

.features__block-list {
  list-style: unset;
  padding-left: 10px;
  font-size: 14px;
  line-height: 21px;
}

@media (width >= 1256px) {
  .features__block-list {
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.features__block-item {
  margin: 10px 0;
}

.features__wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .features__wrapper {
    flex-direction: row;
  }
}

@media (width >= 1256px) {
  .features__wrapper {
    width: 50%;
  }
}

.features__buttons {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 50px auto 0;
  display: flex;
}

@media (width >= 744px) {
  .features__buttons {
    margin: 50px auto 0;
  }
}

@media (width >= 1256px) {
  .features__buttons {
    display: none;
  }
}

.features__buttons-container {
  width: 100px;
  height: 13px;
  display: flex;
}

.features__buttons--back {
  background-color: #0000;
  background-image: url("prev-button.df762487.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 48%;
}

.features__buttons--forward {
  background-color: #0000;
  background-image: url("next-button.72e41a5e.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 48%;
}

.features__counter {
  color: #333;
  font-size: 18px;
}

.features__img {
  background-image: url("features.9a075561.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-end;
  width: 100%;
  height: 174px;
}

@media (width >= 744px) {
  .features__img {
    width: 60%;
  }
}

@media (width >= 1256px) {
  .features__img {
    width: 100%;
    height: 301px;
    top: -60px;
  }
}

.footer {
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  display: grid;
}

@media (width >= 744px) {
  .footer {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .footer {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.footer__wrapper {
  justify-content: space-between;
  display: flex;
}

@media (width >= 744px) {
  .footer__wrapper {
    grid-column: 4 / 6;
  }
}

@media (width >= 1256px) {
  .footer__wrapper {
    grid-column: 6 / 13;
  }
}

.footer__logo {
  display: none;
}

@media (width >= 744px) {
  .footer__logo {
    grid-column: 4 / 6;
    display: block;
  }
}

@media (width >= 1256px) {
  .footer__logo {
    grid-column: 6 / 8;
  }
}

.footer__up-button {
  display: none;
}

@media (width >= 1256px) {
  .footer__up-button {
    grid-column: -1 / 2;
    display: block;
  }
}

.footer__social {
  flex-direction: row;
  grid-column: 1 / 5;
  gap: 40px;
  margin: 0 auto;
  display: flex;
}

@media (width >= 744px) {
  .footer__social {
    grid-column: 4 / 6;
  }
}

@media (width >= 1256px) {
  .footer__social {
    grid-column: 6 / 8;
    margin: 60px auto;
  }
}

.footer__privacy-policy {
  text-align: center;
  color: #828282;
  grid-column: 1 / 5;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 744px) {
  .footer__privacy-policy {
    grid-column: 3 / 7;
  }
}

@media (width >= 1256px) {
  .footer__privacy-policy {
    grid-column: 5 / 9;
  }
}

.header {
  width: 100%;
  min-height: 100vh;
}

@media (width >= 744px) {
  .header {
    grid-template-columns: repeat(8, 70px);
    justify-content: center;
    gap: 34px;
    display: grid;
  }
}

@media (width >= 1256px) {
  .header {
    grid-template-columns: repeat(12, 72px);
    justify-content: center;
    gap: 30px;
    display: grid;
  }
}

@media (width >= 744px) {
  .header__nav {
    grid-column: 1 / 9;
  }
}

@media (width >= 1256px) {
  .header__nav {
    grid-column: 1 / 13;
  }
}

.header__content {
  flex-direction: column;
  display: flex;
}

@media (width >= 744px) {
  .header__content {
    flex-direction: row-reverse;
    grid-column: 1 / 9;
  }
}

@media (width >= 1256px) {
  .header__content {
    grid-column: 1 / 13;
  }
}

.header__text-block {
  margin: 0 30px;
}

@media (width >= 744px) {
  .header__text-block {
    width: 40%;
    margin: 0;
  }
}

@media (width >= 1256px) {
  .header__text-block {
    width: 33%;
  }
}

.header__img {
  background-image: url("header-img-mobile.78af703a.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 317px;
}

@media (width >= 744px) {
  .header__img {
    background-size: contain;
    width: 60%;
  }
}

@media (width >= 1256px) {
  .header__img {
    width: 66%;
    height: 464px;
  }
}

.header__title {
  text-transform: uppercase;
  color: #333;
  margin: 40px 0 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

@media (width >= 744px) {
  .header__title {
    font-size: 48px;
    line-height: 62px;
  }
}

.header__info {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header__menu-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  display: none;
}

@media (width >= 1256px) {
  .header__menu-list {
    grid-column: 4 / 10;
    justify-content: space-between;
    display: flex;
  }
}

.header__menu-link {
  color: #131313;
  box-sizing: border-box;
  width: 100px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.header__menu-link:hover {
  font-weight: 700;
}

body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
}

.presentation {
  background-image: url("presentation.cf3ebe70.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  padding: 110px 12px;
  display: grid;
}

@media (width >= 744px) {
  .presentation {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .presentation {
    background-image: none;
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.presentation__img {
  display: none;
}

@media (width >= 1256px) {
  .presentation__img {
    grid-column: 3 / 11;
    height: 520px;
    display: block;
  }
}

.questions {
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  display: grid;
}

@media (width >= 744px) {
  .questions {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .questions {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

@media (width >= 744px) {
  .questions {
    padding-top: 140px;
  }
}

.questions__title {
  text-transform: uppercase;
  color: #333;
  grid-column: 1 / 4;
  margin: 110px 0 27px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 744px) {
  .questions__title {
    grid-column: 1 / 5;
    margin: 0;
    font-size: 36px;
    line-height: 46px;
  }
}

@media (width >= 1256px) {
  .questions__title {
    grid-column: 1 / 7;
    font-size: 56px;
    line-height: 70px;
  }
}

.questions__form {
  grid-column: 1 / 5;
}

@media (width >= 744px) {
  .questions__form {
    grid-column: 5 / 9;
  }
}

@media (width >= 1256px) {
  .questions__form {
    grid-column: 7 / 13;
  }
}

.questions__label:not(:focus) .questions__label:not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.questions__input {
  border: 1px solid #828282;
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
}

.questions__input::placeholder {
  text-align: left;
  color: #bdbdbd;
  padding-left: 20px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.questions__input:focus {
  border: 2px solid #0c797a;
  outline: none;
}

.questions__input--textarea {
  min-height: 128px;
}

@media (width >= 744px) {
  .questions__input--textarea {
    min-height: 201px;
  }
}

@media (width >= 1256px) {
  .questions__input--textarea {
    min-height: 128px;
  }
}

.questions__input--textarea::placeholder {
  padding-top: 12px;
}

.questions__button {
  color: #fff;
  background: #0db2b3;
  border: none;
  width: 102px;
  height: 40px;
  margin-bottom: 110px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.testimonials {
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  display: grid;
}

@media (width >= 744px) {
  .testimonials {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .testimonials {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

.testimonials__card {
  flex-direction: column;
  grid-column: 1 / 5;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .testimonials__card {
    grid-column: 1 / 9;
  }
}

@media (width >= 1256px) {
  .testimonials__card {
    grid-column: 3 / 11;
  }
}

.testimonials__card-text {
  box-sizing: border-box;
  color: #333;
  background-image: url("testimonials-background.6e84c3e1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 744px) {
  .testimonials__card-text {
    margin-bottom: 40px;
    padding-top: 60px;
    font-size: 24px;
    line-height: 36px;
  }
}

.testimonials__card-name {
  color: #333;
  margin: 10px 0 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@media (width >= 744px) {
  .testimonials__card-name {
    margin: 40px 0 20px;
  }
}

.testimonials__card-position {
  font-size: 14px;
  font-weight: 400px;
  color: #7c7c7c;
  line-height: 21px;
}

.nav {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 0 30px;
  display: flex;
}

@media (width >= 744px) {
  .nav {
    padding: 0;
  }
}

.nav__logo {
  width: 161px;
  height: 26px;
}

.nav__wrapper {
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
}

.nav__part-container {
  display: none;
}

@media (width >= 744px) {
  .nav__part-container {
    align-items: center;
    height: 74px;
    display: flex;
  }
}

.nav__lang {
  align-items: center;
}

.nav__buy {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  width: 100px;
  height: 48px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  transition: all 1s;
  display: block;
}

.nav__buy:hover {
  background-color: #131313;
}

.nav__burger {
  background-image: url("burger.e2aa6e59.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 16px;
  transition: all .3s;
  display: block;
}

.nav__burger-label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

@media (width >= 1256px) {
  .nav__burger {
    display: none;
  }
}

.menu {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #f9f9f9;
  grid-template-columns: repeat(4, 50px);
  place-content: start center;
  gap: 30px;
  min-height: 100vh;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: transform .3s ease-in-out;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden auto;
  transform: translate(100%);
}

@media (width >= 744px) {
  .menu {
    grid-template-columns: repeat(8, 70px);
    gap: 34px;
  }
}

@media (width >= 1256px) {
  .menu {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
}

@media (width >= 744px) {
  .menu {
    font-size: 22px;
    line-height: 28px;
  }
}

.menu:target {
  transform: translate(0);
}

.menu__header {
  grid-column: 1 / 5;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  margin-bottom: 31px;
  display: flex;
}

@media (width >= 744px) {
  .menu__header {
    grid-column: 1 / 9;
  }
}

.menu__header-logo {
  width: 161px;
  height: 26px;
}

.menu__list {
  grid-column: 1 / 5;
}

.menu__item {
  margin-bottom: 25px;
}

.menu__link {
  color: #131313;
  text-decoration: none;
}

.menu__link:hover {
  font-weight: 700;
}

.menu__part-container {
  grid-column: 1 / 5;
}

@media (width >= 744px) {
  .menu__part-container {
    display: none;
  }
}

.menu__buy {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  width: 100%;
  height: 48px;
  margin-top: 162px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  transition: all 1s;
  display: block;
}

.menu__buy:hover {
  background-color: #131313;
}

@media (width >= 744px) {
  .menu__buy {
    display: none;
  }
}

.lang {
  color: #131313;
  gap: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  display: flex;
}

.lang__choise--active {
  font-weight: 400;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
